{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="d-flex flex-row flex-wrap container-jadwal">
    <div class="container mt-6 list-jadwal-kelas">
        <h5>Mata Kuliah</h5>
        <div class="list-group">
            {% for list in data %}
                <a href="/jadwalkelas/{{list.id}}" class="list-group-item list-group-item-action">{{list.nama_matkul}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="container mt-4 form-jadwal-kelas">
        {% if status %}
            {% if status == 'success' %}
            <div class="alert alert-success" role="alert">
                Sukses menambahkan jadwal mata kuliah baru
            </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                Terjadi kesalahan input, silahkan coba lagi
            </div>
            {% endif %}
        {% endif %}

       <form action="" method="post">
        {% csrf_token %}
        {% for input in form %}
            <h6>{{input.label}}</h6>
            {{input}}
        {% endfor %}
        <input type="submit" class="form-control btn btn-primary mt-2" value="Submit">
       </form>
    </div>
    
</div>

{% endblock %}