{% load static %}
<div class="custom-navbar">
    <div class="container navbar-inner">
      <div class="navbar-logo">
        <a href="/"><img src="{% static 'lab4/logo.png' %}" class="navbar-logo" alt="logo"></a>
      </div>
      <div class="menu-section">
        <a href="/#home" class="menu-item">home</a>
        <a href="/#portofolio" class="menu-item">portofolio</a>
        <a href="/#contact" class="menu-item">contact</a>
        <a href="/jadwalkelas" class="menu-item">Jadwal Kuliah</a>
        <a href="/kegiatansaya" class="menu-item">Kegiatan</a>
      </div>
      <div class="mobile-menu-section">
        <div class="menu-button">
          <button type="button" id="navbarTrigger"><i class="fas fa-bars"></i></button>
        </div>
        <div class="menu-list" id="mobileMenu">
          <a href="#home" class="menu-item">home</a>
          <a href="#portofolio" class="menu-item">portofolio</a>
          <a href="#contact" class="menu-item">contact</a>
          <a href="/jadwalkelas" class="menu-item">Jadwal Kuliah</a>
          <a href="/kegiatansaya" class="menu-item">Kegiatan</a>
        </div>
      </div>
    </div>
  </div>